<?xml version="1.0" encoding="UTF-8"?>
<configuration  debug="true" scan="true" scanPeriod="30 seconds">

  <!-- Recomendación: coloque los escuchas de estado hacia la parte superior del archivo de configuración -->
   <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
  
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- A los codificadores se les asigna el tipo
    ch.qos.logback.classic.encoder.PatternLayoutEncoder por defecto -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>logs/ansiterm.log</file>
    <append>true</append>
    <!-- set immediateFlush to false for much higher logging throughput -->
    <immediateFlush>true</immediateFlush>
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{35} -%kvp- %msg%n</pattern>
    </encoder>
  </appender>

  <root level="debug">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>
</configuration>